body {
  background: #0c0b0c;
  background: -moz-linear-gradient(-45deg, #0c0b0c 0%, #1b191d 100%);
  background: -webkit-linear-gradient(-45deg, #0c0b0c 0%, #1b191d 100%);
  background: linear-gradient(135deg, #0c0b0c 0%, #1b191d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c0b0c",
    endColorstr="#1b191d",
    GradientType=1);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #ccc;
  position: relative;
  font-family: 'Playfair Display', serif;

  canvas {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    cursor: pointer;
  }

  #gui {
    position: absolute;
    top: 10%;
    right: 10%;
    z-index: 999;
    text-align: right;
    font-family: 'Roboto Mono', Courier, monospace;
  }

  h3 {
    font-family: 'Roboto Mono', Courier, monospace;
    color: #988e9f;
    font-weight: 400;
    position: relative;
    margin: 0 20px;
    font-size: 34px;
    display: inline-block;

    &:before {
      content: "<";
      position: absolute;
      left: -22px;
    }

    &:after {
      content: "/>";
      position: absolute;
      right: -40px;
    }
  }

  .wrp {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 99;

    .white {
      color: #fff;
    }

    p {
      font-size: 30px;
      margin: 0;
      position: relative;

      &::first-letter {
        font-size: 60px;
        position: absolute;
        display: flex;
        top: 100px;
        left: -100px;
      }
    }
  }

}


.glitch {
  position: relative;
  color: rgb(118, 21, 227);
  text-decoration: none;
  line-height: 1.3;
  // background: -webkit-linear-gradient(-67deg, rgb(118, 21, 227) 0%, rgb(21, 147, 227) 100%);
  //     // -webkit-background-clip: text;
  //     // -webkit-text-fill-color: transparent;

  &:before,
  &:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
  }

  &:after {
    color: rgba(255, 45, 255, 0.459);
    z-index: -2;
  }

  &:before {
    color: rgba(52, 255, 255, 0.507);
    z-index: -1;
  }

  &:hover {
    &:before {
      animation: glitch .4s cubic-bezier(.25, .46, .45, .94) both infinite
    }

    &:after {
      animation: glitch .4s cubic-bezier(.25, .46, .45, .94) reverse both infinite
    }
  }
}


@keyframes glitch {
  0% {
    transform: translate(0)
  }

  20% {
    transform: translate(-2px, 2px)
  }

  40% {
    transform: translate(-2px, -2px)
  }

  60% {
    transform: translate(2px, 2px)
  }

  80% {
    transform: translate(2px, -2px)
  }

  to {
    transform: translate(0)
  }
}


.btn,
.btn2 {
  padding: 20px 40px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Mono', Courier, monospace;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  background: linear-gradient(-45deg, #FFA63D, #FF3D77, rgb(21, 147, 227), rgb(118, 21, 227));
  background-size: 600%;
  border: none;
  position: relative;
  cursor: pointer;
  transform: scale3d(1, 1, 1);
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
}

.btn {

  &:hover,
  &:focus {
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
    animation: anime 16s linear infinite;
    transform: scale3d(1.1, 1.1, 1);

    .btn2 {
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) .3s;
      animation: anime 16s linear infinite;
      transform: scale3d(1.1, 1.1, 1);
      bottom: -5px;
      filter: blur(30px);
    }
  }
}

.btn2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55%;
  z-index: -1;
  filter: blur(20px);
  opacity: 0.8;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hidden {
  display: none;
}
